# Node modules
node_modules/

# Next.js build output
.next/
out/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
coverage/
*.log

# Optional npm cache directory
.npm/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
ehthumbs.db
Desktop.ini

# Other lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Others files
.cursorrules
files-test/
build/
